[radon]

## cc properties
cc_min = B
cc_max = F
average = true
total_average = true
show_complexity = true
order = SCORE

## mi properties
mi_max = C
mi_min = A
multi = true
show_mi = true

## hal properties
functions = true

## common properties
# exclude = main4.py
ignore = old_mains
# include_ipynb = true
# ipynb_cells = true
