<!DOCTYPE html>
<html lang="en">
<head>
  {%metas%}
  <title>{%title%}</title>
  <link rel="icon" type="image/x-icon" href="https://elasticbeanstalk-us-east-1-518344696083.s3.amazonaws.com/esg3-static-files/app/images/Branding2023/03+Isotipo/SVG/4-Negativo+Isotipo.svg">
  {%css%}
</head>
<body>
  <header class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <div class="row w-100">
          <div class="col-2">
            <a class="navbar-brand text-light" href="#">
              <figure>
                <picture>
                  <img src="https://elasticbeanstalk-us-east-1-518344696083.s3.amazonaws.com/esg3-static-files/app/images/Branding2023/03+Isotipo/SVG/4-Negativo+Isotipo.svg" alt="Monitor SSINDEX" style="height: 2.5rem;">
                </picture>
                <figcaption style="font-size: .6rem;">ESG COMPASS</figcaption>
              </figure>
            </a>
          </div>
          <div class="col-10">
            <div class="container">
              <ul class="nav nav-underline nav-fill justify-content-center fs-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-light active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">
                    General
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-light" id="sasb-tab" data-bs-toggle="tab" data-bs-target="#sasb" type="button" role="tab" aria-controls="sasb" aria-selected="false">
                    SASB
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-light" id="ssindex-tab" data-bs-toggle="tab" data-bs-target="#ssindex" type="button" role="tab" aria-controls="ssindex" aria-selected="false">
                    SSINDEX
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-light" id="bench-tab" data-bs-toggle="tab" data-bs-target="#bench" type="button" role="tab" aria-controls="bench" aria-selected="false">
                    Benchmark
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- APP ENTRY -->
  {%app_entry%}

  <!-- Main Content -->
  <main class="container container-fluid pt-2">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <div class="col-12 justify-content-end"><p>2024-05-16</p></div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <h4>GlassCo SPA</h4>
                </div>
                <div class="row">
                  <p>Industry Name&nbsp;|&nbsp;Country&nbsp;|&nbsp;Market Name</p>
                </div>
              </div>
              <div class="col-6">
                <picture>
                  <img src="monitorImages/generalScore.png" alt="General Score">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <div class="col-2">Monitor Overview</div>
              <div class="col-10">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, id quod sapiente laboriosam, repellendus quis voluptates dolorum voluptatibus accusantium mollitia accusamus obcaecati adipisci veritatis excepturi magni amet beatae. A, aliquam!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <picture>
                  <img src="monitorImages/histogramComparisson.png" alt="Histogram Comparisson">
                </picture>
                <p>Histograma de Comentarios comparado con Universo y agrupado por intervalos</p>
              </div>
              <div class="col-6">
                <picture>
                  <img src="monitorImages/rankComparisson.png" alt="Rank Comparisson">
                </picture>
                <p>Tabla Posición y Percentil de Compañía y Universo</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis SASB</h2>
            <div class="row">
              <div class="col-12">
                Lista con Pilar SASB, Score, Y Grafico de medidor horizontal con intervalos
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <picture>
                  <img src="monitorImages/categoryAnalisys.png" alt="Analisis SASB">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis SSINDEX</h2>
            <div class="row">
              <div class="col-12">
                Lista con Pilar SSINDEX, Score, Y Grafico de medidor horizontal con intervalos
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <picture>
                  <img src="monitorImages/categoryAnalisys.png" alt="Analisis SSINDEX">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis Detallado SASB</h2>
            <div class="row">
              <div class="col-12">
                Lista con Subcategorias SASB, Score, Y Grafico de medidor horizontal con intervalos y ponderaciones
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <picture>
                  <img src="monitorImages/categoryDetailsAnalisys.png" alt="Analisis Detallado SASB">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis Detallado SSINDEX</h2>
            <div class="row">
              <div class="col-12">
                Lista con Dimension SSINDEX, Score, Y Grafico de medidor Horizontal con intervalos y ponderaciones
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <picture>
                  <img src="monitorImages/categoryDetailsAnalisys.png" alt="Analisis Detallado SSINDEX">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="sasb" role="tabpanel" aria-labelledby="sasb-tab">
        <p>Por cada Pilar del SASB:</p>
        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <h4>GlassCo SPA - Pilar SASB</h4>
                </div>
                <div class="row">
                  <p>Industry Name&nbsp;|&nbsp;Country&nbsp;|&nbsp;Market Name</p>
                </div>
              </div>
              <div class="col-6">
                <picture>
                  <img src="monitorImages/generalScore.png" alt="General Score">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <div class="col-2">Pilar SASB Overview</div>
              <div class="col-10">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, id quod sapiente laboriosam, repellendus quis voluptates dolorum voluptatibus accusantium mollitia accusamus obcaecati adipisci veritatis excepturi magni amet beatae. A, aliquam!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <picture>
                  <img src="monitorImages/histogramComparisson.png" alt="Histogram Comparisson">
                </picture>
                <p>Histograma de Comentarios comparado con Universo y agrupado por intervalos</p>
              </div>
              <div class="col-6">
                <picture>
                  <img src="monitorImages/rankComparisson.png" alt="Rank Comparisson">
                </picture>
                <p>Tabla Posición y Percentil de Compañía y Universo</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis SASB</h2>
            <div class="row">
              <div class="col-12">
                Lista con Subcategorias del Pilar SASB, Score, Y Grafico de medidor horizontal con intervalos
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <picture>
                  <img src="monitorImages/categoryAnalisys.png" alt="Analisis SASB">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis Geográfico Pilar SASB</h2>
            <div class="row">
              <div class="col-6">
                <picture>
                  <img src="monitorImages/avgSentimentMap.png" alt="Mapa Sentiment">
                </picture>
              </div>
              <div class="col-6 px-5">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Comment</th>
                      <th scope="col">Sentiment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est facere corrupti minima accusamus officia ea? Obcaecati aliquam fuga impedit commodi deleniti! Cum eius officiis id eveniet repudiandae quasi facilis nemo!</td>
                      <td>45.56</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas alias quibusdam ea exercitationem modi? Hic aspernatur eos eligendi voluptas, aliquam repudiandae, illo sed nobis dolore ab itaque consequuntur eius similique?</td>
                      <td>67.89</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quod, sunt aspernatur blanditiis eius accusantium? Atque earum commodi id nobis nemo! Accusantium provident ea omnis iusto aliquam vitae autem consequatur!</td>
                      <td>10.09</td>
                    </tr>
                  </tbody>
                </table>
                <p>Tabla con los comentarios asociados al Pilar SASB y que filtre cuando se hace click en algun sector del mapa</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="ssindex" role="tabpanel" aria-labelledby="ssindex-tab">
        <p>Por cada Pilar del SSINDEX:</p>
        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <h4>GlassCo SPA - Pilar SSINDEX</h4>
                </div>
                <div class="row">
                  <p>Industry Name&nbsp;|&nbsp;Country&nbsp;|&nbsp;Market Name</p>
                </div>
              </div>
              <div class="col-6">
                <picture>
                  <img src="monitorImages/generalScore.png" alt="General Score">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <div class="col-2">Pilar SSINDEX Overview</div>
              <div class="col-10">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, id quod sapiente laboriosam, repellendus quis voluptates dolorum voluptatibus accusantium mollitia accusamus obcaecati adipisci veritatis excepturi magni amet beatae. A, aliquam!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <picture>
                  <img src="monitorImages/histogramComparisson.png" alt="Histogram Comparisson">
                </picture>
                <p>Histograma de Comentarios comparado con Universo y agrupado por intervalos</p>
              </div>
              <div class="col-6">
                <picture>
                  <img src="monitorImages/rankComparisson.png" alt="Rank Comparisson">
                </picture>
                <p>Tabla Posición y Percentil de Compañía y Universo</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis SASB</h2>
            <div class="row">
              <div class="col-12">
                Lista con Dimensiones del Pilar SSINDEX, Score, Y Grafico de medidor horizontal con intervalos
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <picture>
                  <img src="monitorImages/categoryAnalisys.png" alt="Analisis SASB">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <h2>Analisis Geográfico Pilar SSINDEX</h2>
            <div class="row">
              <div class="col-6">
                <picture>
                  <img src="monitorImages/avgSentimentMap.png" alt="Mapa Sentiment">
                </picture>
              </div>
              <div class="col-6 px-5">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Comment</th>
                      <th scope="col">Sentiment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est facere corrupti minima accusamus officia ea? Obcaecati aliquam fuga impedit commodi deleniti! Cum eius officiis id eveniet repudiandae quasi facilis nemo!</td>
                      <td>45.56</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas alias quibusdam ea exercitationem modi? Hic aspernatur eos eligendi voluptas, aliquam repudiandae, illo sed nobis dolore ab itaque consequuntur eius similique?</td>
                      <td>67.89</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quod, sunt aspernatur blanditiis eius accusantium? Atque earum commodi id nobis nemo! Accusantium provident ea omnis iusto aliquam vitae autem consequatur!</td>
                      <td>10.09</td>
                    </tr>
                  </tbody>
                </table>
                <p>Tabla con los comentarios asociados al Pilar SASB y que filtre cuando se hace click en algun sector del mapa</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="bench" role="tabpanel" aria-labelledby="bench-tab">
        <div class="section bg-white">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <h2>Monitor SSINDEX Sentiment Score</h2>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">1 day</button>
                  <button type="button" class="btn btn-primary">Middle</button>
                  <button type="button" class="btn btn-primary">Right</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <picture>
                  <img class="w-100" src="monitorImages/historicSentimentBoxPlot.png" alt="Historic Sentiment BoxPlot">
                </picture>
              </div>
              <div class="col-7">
                <picture>
                  <img class="w-100" src="monitorImages/historicSentimentPlot.png" alt="Historic Sentiment Plot">
                </picture>
              </div>
              <div class="col-2">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Empresa 1</label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked">Empresa 2</label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Empresa 3</label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                  <label class="form-check-label" for="flexSwitchCheckDefault">Empresa 4</label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Empresa 5</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1>Por cada Pilar SSINDEX:</h1>
        <div class="section bg-light">
          <div class="container border-bottom border-dark pt-3">
            <div class="row">
              <h2>SSINDEX Pilar Sentiment Score</h2>
            </div>
            <div class="row">
              <div class="col-3">
                <picture>
                  <img class="w-100" src="monitorImages/historicSentimentBoxPlot.png" alt="Historic Sentiment BoxPlot">
                </picture>
              </div>
              <div class="col-9">
                <picture>
                  <img class="w-100" src="monitorImages/historicSentimentPlot.png" alt="Historic Sentiment Plot">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabs Content -->
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="mb-0">© 2024 SSINDEX</p>
    </div>
  </footer>
</body>
{%config%}
{%scripts%}
{%renderer%}
</html>
